<nav="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#">GauchoGains</a>
    </div>
    <div class="dropdown">
      <button class = "dropdownbtn">Navigation
      	  <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Community</a>
        <a href="#">Profile</a>
        <a href="#">Account Settings</a>
	<a href="#">Log Off</a>
      </div>
    </div>
  </div>
</nav>
